{#@cite :- https://github.com/lingthio/Flask-User-demo#}

{% extends "base_templates/base.html" %}  {# base_templates/page_base.html extends base_templates/base3.html #}

{% block main %}
<h1>Home page</h1>

{% if not current_user.is_authenticated() %}
<p>
To view the Member page, you must
<a href="{{ url_for('user.login') }}">Sign in</a> or
<a href="{{ url_for('user.register') }}">Register</a>.
</p>
{% endif %}

<h3>About the Application</h3>
<p>
We have trained operators standing by 24/7 to answer every one of your requests. Send us a text message, and we'll get you what you want. We'll order what you need from the appropriate service (e.g. DoorDash, Instacart, Postmates, etc.), and deal with them so you just automatically get what you want, like magic...
</p>
<p>
<button><a href="/chat">Start Chatting</a></button>
</p>

{% endblock %}
